@inherits Umbraco.Web.Mvc.UmbracoViewPage<HighlyDeveloped.Core.ViewModel.ResetPasswordViewModel>
@using HighlyDeveloped.Core.Controllers
@{
    // Validation
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
}

<!-- Have we posted? Is it success -->
<!-- Display thanks -->
@if (TempData["status"] != null && (string)TempData["status"] == "OK")
{
    <h3>Password changed</h3>
    <p>Your password has changed, please log in with your new credentials.</p>
    <a href="/login">Go to login</a>
}
else
{
    <!-- Else show form -->
    <div class="container">
        <div class="row">
            <div class="col">

                @using(Html.BeginUmbracoForm<LoginController>("HandleResetPassword"))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary()

                <fieldset>
                    <legend>Reset your password</legend>
                    <p>
                        Enter a new password followed by the same password again for confirmation,
                        Your password should be atleast 10 characters long.
                        Must contain atleast 1 special character, 1 number, 1 upper and lowercase.
                    </p>
                    <div class="form-group">
                        <div class="editor-label">
                            @Html.LabelFor(m => m.Password)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(m => m.Password)
                            @Html.ValidationMessageFor(m => m.Password)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="editor-label">
                            @Html.LabelFor(m => m.ConfrimPassword)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(m => m.ConfrimPassword)
                            @Html.ValidationMessageFor(m => m.ConfrimPassword)
                        </div>
                    </div>
                    <br
                    <div class="form-group">
                        <button type="submit" name="submit" class="btn btn-primary">Submit</button>
                    </div>
                </fieldset>
                }

            </div>
        </div>
    </div>
}


